// - Imports -
@import "./Utilities/normalize.scss";

// - Variables -

// Font
$font: 'Inter', sans-serif;

// Colors
$gray: #D9D9D9;
$dark: #2C3333;
$light-blue: #9FBBE4;

// Screen sizes
$phone: 480px; 
$tablet: 748px; 
$desktop: 992px; 
$large-desktop: 1200px; 

// - Mixins -
@mixin phone {
  @media (min-width: $phone) {
      @content; 
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
      @content; 
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
      @content; 
  }
}

@mixin large-dektop {
  @media (min-width: $large-desktop) {
      @content; 
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}

@mixin flex-center($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap; 
}

@mixin flex-column-center($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap; 
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container($min-w, $min-percentage) {
  width: min($min-w, $min-percentage);
  margin: 0 auto; 
}

// - Global styles --

// Globals
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*  {
  padding: 0;
  margin: 0;
  font-family: $font;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  font-size: 1.6rem;  
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}


// Helpers
.main-content {
  flex: 1;
}

.container {
  @include container(120rem, 90%);
}


// - Sections styles -

// Header
.header {
  padding: 3rem 4rem;
  background-color: $gray;
  display: inherit;

  &__container {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
  }

  &__nav {
    display: inherit;
    gap: 3rem;
  }

  &__logo {
    font-size: 2.4rem;
  }
}

// Landing
.landing {
  display: flex;
  gap: 2rem;
  align-items: start;

  padding: 3rem 0;

  &__container {
    display: inherit;
    flex-direction: column;

    width: 100%;
    gap: 2rem;
  }

  &__main_image {
    background-color: $gray;
    width: 100%;
    height: 40rem;
  }

  &__main_features {
    @include grid(3, 2rem);
  }

  &__feature {
    background-color: $gray;
    width: 100%;
    height: 20rem;
  }
}

// Auth views
.login, .register {
  padding: 14rem 0;  

  &__title {
    text-align: center;
  }

  &__form {
    @include container(60rem, 100%);        

    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4.4rem 0;
    background-color: $gray
  }

  &__container {
    @include container(40rem, 90%);
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }  

  &__input {
    width: 100%;

    input, select, textarea {
      width: inherit;
      padding: 1rem;
    }
  }

  &__submit {
    @include container(26rem, 80%);

    padding: 1rem;
    background-color: $light-blue;
  }
}

.register {
  padding: 7rem 0;

  &__form {
    @include container(90rem, 100%);    
    
    padding: 4.4rem 0;
  }

  &__container {
    @include container(80rem, 90%);  

    flex-direction: row;    
  }

  &__input {
    &--city {
      margin-top: auto;
    }

    &--description {
      flex: 1;

      textarea {
        resize: none;
        height: calc(100% - 18px);
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 100%;
  }
}

// Feed
.feed {
  display: flex;

  &__container {
    @include grid(2, 2rem);
    grid-template-columns: 1fr 2fr;

    width: 100%;    
    padding: 6rem 0;
  }

  &__section {  
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
  }

  &__notifications, &__following, &__activities {
    background-color: $gray;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    gap: 4.2rem;
  }

  &__notifications {
    height: 25rem;
  }

  &__following {
    height: 25rem;
  }

  &__activities {
    flex: 1;
  }
}

// Footer
.footer {
  display: inherit;
  justify-content: space-between;

  padding: 3rem 4rem;
  border-top: $gray 0.2rem solid;
}