// - Imports -
@import "./Utilities/normalize.scss";

// - Variables -

// Font
$font: 'Inter', sans-serif;

// Colors
$gray: #D9D9D9;
$dark: #2C3333;
$gray: #BACDDB;
$light-blue: #9FBBE4;
$matte-yellow: #FFD966;

// Screen sizes
$phone: 480px; 
$tablet: 748px; 
$desktop: 992px; 
$large-desktop: 1200px; 

// - Mixins -
@mixin phone {
  @media (min-width: $phone) {
      @content; 
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
      @content; 
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
      @content; 
  }
}

@mixin large-dektop {
  @media (min-width: $large-desktop) {
      @content; 
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}

@mixin flex-center($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap; 
}

@mixin flex-column-center($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap; 
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container($min-w, $min-percentage) {
  width: min($min-w, $min-percentage);
  margin: 0 auto; 
}

// - Global styles --

// Globals
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*  {
  padding: 0;
  margin: 0;
  font-family: $font;
  word-wrap: break-word;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  font-size: 1.6rem;  
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

table {
  color: black;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  display: table;
  overflow: auto;
  width: 100%;

  thead th {
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px 10px;
    vertical-align: bottom;
  }
  
  thead th:first-child {
    border-top-left-radius: 5px;
  }
  
  thead th:last-child {
    border-top-right-radius: 5px;
  }

  tbody tr th {
    padding: 0 0.2rem;
  }
  
  tbody td {
    border-top: 1px solid gray;
    padding: 5px 10px;
    vertical-align: top;
    text-align: center;
  }
  
  tbody tr:nth-child(2n) {
    background-color: lightgray;
  }
}

// Helpers
.main-content {
  flex: 1;
}

.container {
  @include container(120rem, 90%);
}


// - Sections styles -

// Header
.header {
  padding: 2.4rem 4rem;
  background-color: $gray;
  display: inherit;

  &__container {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
  }

  &__nav {
    display: inherit;
    align-items: center;
    gap: 3rem;
  }

  &__logo {
    font-size: 2.8rem;
  }

  .logout {
    button {
      padding: 1rem;      
    }
  }
}

// Main
.main  {
  display: flex;
  gap: 2rem;

}

// Landing
.landing {
  display: flex;
  gap: 2rem;
  align-items: start;

  padding: 3rem 0;

  &__container {
    display: inherit;
    flex-direction: column;

    width: 100%;
    gap: 2rem;
  }

  &__main_image {
    background-color: $gray;
    width: 100%;
    height: 40rem;
  }

  &__main_features {
    @include grid(3, 2rem);
  }

  &__feature {
    background-color: $gray;
    width: 100%;
    height: 20rem;
  }
}

// Admin aside
.resources {
  padding: 1rem 0;

  nav {
    display: flex;
    flex-direction: column;
    
    a {
      text-align: left;
      border-bottom: 1px solid $gray;
      padding: 1.4rem 2rem;
      font-size: 1.6rem;
    }

    a:last-child {
      border: none;
    }

    a:hover {
      background-color: lighten($color: $gray, $amount: 14);
    }
  }
}

.container {
  a {
    background-color: $matte-yellow;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  a:hover {
    background-color: darken($color: $matte-yellow, $amount: 10);
  }
}

// Auth views
.login, .register {
  padding: 14rem 0;  

  &__title {
    text-align: center;
  }

  &__form {
    @include container(60rem, 100%);        

    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4.4rem 0;
    background-color: $gray
  }

  &__container {
    @include container(40rem, 90%);
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }  

  &__input {
    width: 100%;

    input, select, textarea {
      width: inherit;
      padding: 1rem;
    }

    &--remember {
      width: auto;
      display: flex;
      align-items: center;
      gap: 2rem
    }
  }

  &__submit {
    @include container(26rem, 80%);

    padding: 1rem;
    background-color: $light-blue;
  }
}

.register {
  padding: 7rem 0;

  &__form {
    @include container(90rem, 100%);    
    
    padding: 4.4rem 0;
  }

  &__container {
    @include container(80rem, 90%);  

    flex-direction: row;    
  }

  &__input {
    &--city {
      margin-top: auto;
    }

    &--description {
      flex: 1;

      textarea {
        resize: none;
        height: calc(100% - 18px);
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 100%;
  }
}

// Feed
.feed {  

  &__container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;    
    
    padding: 6rem 0;

    * {
      min-width: 0;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;    
    gap: 2rem;
  }

  &__main {
    flex: 1;
  }

  .notifications, .friends, .activities {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 25rem;
  }

  // .notifications {
  // }

  .friends {    

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__element {
      padding: 1rem;
      text-align: center;
      background-color: $light-blue;
    }
  }

  // .activities {
  // }
}

// Footer
.footer {
  display: inherit;
  justify-content: space-between;

  padding: 3rem 4rem;
  border-top: $gray 0.2rem solid;
}