// - Variables -

// Font

// Colors

// Screen sizes
$phone: 480px; 
$tablet: 748px; 
$desktop: 992px; 
$large-desktop: 1200px; 

// - Mixins -
@mixin phone {
  @media (min-width: $phone) {
      @content; 
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
      @content; 
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
      @content; 
  }
}

@mixin large-dektop {
  @media (min-width: $large-desktop) {
      @content; 
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat(columnas, 1fr);
  gap: espaciado;
}

@mixin flex-center($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap; 
}

@mixin flex-column-center($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap; 
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Globals
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black; 
}

// - Helpers -
.container {
  width: min(120rem, 80%);
  margin: 0 auto; 
}

// - Components -

// Header