// Admin aside
.resources {
  padding: 1rem 0;

  nav {
    display: flex;
    flex-direction: column;
    
    a {
      text-align: left;
      border-bottom: 1px solid $gray;
      padding: 1.4rem 2rem;
      font-size: 1.6rem;
    }

    a:last-child {
      border: none;
    }

    a:hover {
      background-color: lighten($color: $gray, $amount: 14);
    }
  }

  button {
    display: block;
    margin-left: auto;
  }
}