// - Variables -

// Font
$font: 'Inter', sans-serif;

// Colors
$gray: #D9D9D9;
$dark: #2C3333;
$gray: #BACDDB;
$light-blue: #9FBBE4;
$matte-yellow: #FFD966;

// Screen sizes
$phone: 480px; 
$tablet: 748px; 
$desktop: 992px; 
$large-desktop: 1200px; 